.u-section-1 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-1 .u-shape-1 {
  width: 639px;
  height: 586px;
  margin: 60px -53px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -649px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 681px;
}

.u-section-1 .u-container-layout-1 {
  padding: 70px 0 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  line-height: 1.0999999999999999;
  margin: 0 -143px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  margin: 60px auto 0 9px;
  padding: 13px 55px 13px 54px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 511px;
  width: 511px;
  background-image: url("images/WhatsAppImage2022-11-15at4.58.08PM.jpeg");
  background-position: 50% 50%;
  margin: 39px auto 0 9px;
}

.u-section-1 .u-gallery-1 {
  height: 224px;
  width: 1143px;
  margin: 96px -2px 44px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-shape-1 {
    width: 509px;
    height: 467px;
    margin-top: 123px;
    margin-right: -39px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -530px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -164px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    height: 454px;
    width: 454px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 184px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-1 .u-shape-1 {
    width: 383px;
    height: 373px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -435px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -121px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-1 .u-image-1 {
    height: 344px;
    width: 344px;
  }

  .u-section-1 .u-gallery-1 {
    height: 564px;
    width: 720px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2542px;
  }

  .u-section-1 .u-shape-1 {
    width: 593px;
    height: 543px;
    margin-top: 763px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 753px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1692px;
    margin-top: 60px;
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-shape-1 {
    width: 386px;
    height: 365px;
    margin-top: 665px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1011px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-left: auto;
    padding: 12px 27px 14px 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-1 .u-image-1 {
    height: 373px;
    width: 373px;
    margin-top: 0;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1065px;
    margin-top: 19px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 943px;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 60px auto 0 850px;
}

.u-section-2 .u-group-1 {
  width: 508px;
  min-height: 634px;
  margin: -198px auto 0 62px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 33px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 7px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 44px auto 0 7px;
}

.u-section-2 .u-image-1 {
  width: 398px;
  height: 181px;
  margin: 25px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 43px auto 0 7px;
}

.u-section-2 .u-image-2 {
  width: 384px;
  height: 144px;
  margin: 25px auto 0 7px;
}

.u-section-2 .u-image-3 {
  width: 199px;
  height: 46px;
  margin: -36px auto 0 13px;
}

.u-section-2 .u-video-1 {
  width: 581px;
  height: 617px;
  margin: -538px 60px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: 712px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-left: 492px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 312px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 32px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 573px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 118px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 540px;
    margin-top: 123px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 14px 7px 13px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 146px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 120px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -28px;
    margin-left: 17px;
  }

  .u-section-2 .u-video-1 {
    height: 361px;
    margin-top: -957px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 636px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 37px 59px 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-weight: 700;
  width: 611px;
  margin: 20px auto 0;
}

.u-section-3 .u-image-1 {
  height: 220px;
  margin: 20px 0 0;
}

.u-section-3 .u-group-1 {
  width: 632px;
  min-height: 359px;
  margin: -128px auto 41px;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 30px 30px;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 15px 46px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 606px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-3 .u-group-1 {
    min-height: 339px;
    width: 605px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 371px;
    width: 466px;
    margin-top: -60px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-3 .u-group-1 {
    min-height: 519px;
    margin-top: -56px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 888px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  width: 770px;
  margin: 45px auto 0;
}

.u-section-4 .u-line-1 {
  width: 65px;
  transform-origin: right center 0px;
  margin: 24px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 21px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px -1px 0;
}

.u-section-4 .u-text-3 {
  margin: 20px -1px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px -1px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 267px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px -1px 0;
}

.u-section-4 .u-text-6 {
  margin: 20px -1px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-map-1 {
  height: 400px;
  margin-top: 60px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 848px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 424px;
  }

  .u-section-4 .u-line-1 {
    height: 5px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 220px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-map-1 {
    margin-top: 63px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 850px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: 401px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1271px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 333px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-map-1 {
    margin-top: -465px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1365px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.375rem;
    width: 340px;
    margin-top: 58px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 25px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 70px;
    margin-bottom: 0;
  }
}